.table-container {
  position: relative;
  max-height: 600px;
  overflow-y: auto;
}

.crypto-table {
  width: 100%;
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  overflow: hidden;
  background: #36304a;
}

/* Hide scrollbar for WebKit browsers */
.table-container::-webkit-scrollbar {
  display: none;
  appearance: none;
  width: 0; /* Completely hides the scrollbar */
  height: 0;
}

/* Hide scrollbar for Firefox */
.table-container {
  scrollbar-width: none; /* Firefox-specific property */
}

/* Hide scrollbar for Firefox */
.table-container {
  scrollbar-width: none; /* Firefox-specific property */
}

/* Hide scrollbar for Internet Explorer, Edge */
.table-container {
  -ms-overflow-style: none; /* IE and Edge */
}

table thead tr {
  height: 60px;
  background: #36304a;
  color: #fff;
}

.crypto-table th,
.crypto-table td {
  padding: 8px;
  text-align: center;
}

.crypto-table thead {
  background-color: #f9f9f9;
}

.crypto-table tbody tr {
  background-color: #fef3e2;
}

.crypto-table .fixed-row {
  background-color: #708871; /* Highlight the latest row */
  color: #fff;
}

.back-button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
